<div class="container">
  <div class="row">
    <div class="panel with-nav-tabs panel-primary">
      <div class="panel-body">
        <div class="col-md-12">
          <h3 style="color: blue;">
            This is the Agnular Grid
          </h3>
<ag-grid-angular
  style="width: 500px; height: 500px;"
  class="ag-theme-balham"
  [enableSorting]="true"
  [enableFilter]="true"
  [pagination]="true"
  [rowData]="rowData"
  [columnDefs]="columnDefs">
</ag-grid-angular>
</div>
      </div>
    </div>
  </div>
</div>
