
<ul>
      <li routerLinkActive="active"><a [routerLink]="['/about']"><h4 style="color: white">About</h4></a></li>
      <li routerLinkActive="active"><a [routerLink]="['/track-master']"><h4 style="color: white">TrackMaster</h4></a></li>
      <li routerLinkActive="active"><a [routerLink]="['/bts-process']"><h4 style="color: white">BtsProcess</h4></a></li>
      <li routerLinkActive="active"><a [routerLink]="['/company']"><h4 style="color: white">Organization</h4></a></li>
      <li routerLinkActive="active"><a [routerLink]="['/tech']"><h4 style="color: white">Techs</h4></a></li>
      <li routerLinkActive="active"><a [routerLink]="['/tracks']"><h4 style="color: white">Tracks</h4></a></li>
      <li routerLinkActive="active"><a [routerLink]="['/animations']"><h4 style="color: white">Transition</h4></a></li>
      <li routerLinkActive="active"><a [routerLink]="['/support']"><h4 style="color: white">Support</h4></a></li>
      <!--<li routerLinkActive="active"><a [routerLink]="['/governance']"><h4 style="color: white">Governance</h4></a></li>-->
      <li routerLinkActive="active"><a [routerLink]="['/zomato']"><h4 style="color: white">Zomato</h4></a></li>
</ul>

