<div class="container">
  <div class="row">
    <div class="col">
      <div class="panel with-nav-tabs panel-primary">
        <div class="panel-body">
          <section>
            <header>
              <div class="row">
                <div class="col-md-8">
                  <h3 style="color: blue">Angular5 with Spring Boot REST service from Neo4J DB</h3>
                </div>
                <hr>
              </div>

            </header>
          </section>
          <section class="main">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
              <ul class="navbar-nav">
                <li class="nav-item search">
                  <input class="form-control" placeholder="search" type="text" name="search" [(ngModel)]="filter">
                </li>
              </ul>
            </nav>
            <table class="table">
              <thead>
              <tr>
                <th (click)= "sort('id')">Id</th>
                <th (click)= "sort('name')">Name</th>
                <th (click)= "sort('service_offering')">Service-Offering</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let bts of btsprocess | filter:filter | orderBy:key : reverse | paginate:{ itemsPerPage:5, currentPage:p};">
                <td>{{ bts.id }}</td>
                <td>{{ bts.name }}</td>
                <td>{{ bts.service_offering }}</td>
              </tr>
              </tbody>
            </table>
            <div class="paginator" align="right">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
